.App {
  text-align: center !important;
}

.App-logo {
  height: 40vmin !important;
  pointer-events: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear !important;
  }
}

.App-header {
  background-color: #282c34 !important;
  min-height: 5vh !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: calc(10px + 2vmin) !important;
  color: #c9ebff !important;
}

.App-link {
  color: #8dfcf2 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) !important;
  }

  to {
    transform: rotate(360deg) !important;
  }
}

/* FOR HAMBURGER */

/* Position and sizing of burger button */
.bm-burger-button {
  margin-top: 10px;
  position: relative !important;
  display: none;
  width: 36px;
  height: 30px;
  justify-content: flex-end;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #FEB139;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #0423ae;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #293462 !important;
}

/* Styling of overlay */
.bm-overlay {
  background: #FEB139;
}

/* END OF HAMBURGER */

body {
  justify-content: center !important;
  align-items: center !important;
  background: #293462 !important;
  height: 4800px !important;
}

/*NAVIGATOR ANIMATION*/
.navigation {
  position: fixed !important;
  width: 100% !important;
  height: 60px !important;
  background: #feb139 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1;
  /* border-radius: 10px !important; */
}

.navigation ul {
  display: flex !important;
  width: 100% !important;
}

.navigation ul li {
  list-style: none !important;
  position: relative !important;
  width: 70px !important;
  height: 60px !important;
  z-index: 2 !important;
}

.navigation ul li a {
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  width: 100% !important;
  text-align: center !important;
  font-weight: 500 !important;
}

.navigation ul li a .icon {
  position: relative !important;
  display: block !important;
  line-height: 80px !important;
  font-size: 20px !important;
  transition: 0.5s !important;
  color: #10131f !important;
  margin-top: 8px;
}

.navigation ul li.active a .icon {
  transform: translateY(45px) !important;
  color: #293462 !important;
  font-size: 35px !important;
  transition: 0.3s;
}

.navigation ul li a .text {
  position: absolute !important;
  color: #293462 !important;
  padding: 2px 7px !important;
  border-radius: 12px !important;
  font-weight: 400 !important;
  font-size: 0.55em !important;
  letter-spacing: 0.02em !important;
  transition: 0.5s !important;
  opacity: 0 !important;
  transform: translateY(-10px) !important;
}

.navigation ul li.active a .text {
  transform: translateY(3px) !important;
  opacity: 1 !important;
}

/* Indicator */
.indicator {
  position: absolute !important;
  top: 35px !important;
  width: 70px !important;
  height: 70px !important;
  background: #feb139 !important;
  border-radius: 50% !important;
  z-index: 1 !important;
  transition: 0.5s !important;
}

.indicator::before {
  content: "" !important;
  position: absolute !important;
  top: 25px !important;
  left: -30px !important;
  width: 30px !important;
  height: 30px !important;
  background: transparent !important;
  border-radius: 50% !important;
  box-shadow: 15px -18px #feb139 !important;
}

.indicator::after {
  content: "" !important;
  position: absolute !important;
  top: 25px !important;
  right: -30px !important;
  width: 30px !important;
  height: 30px !important;
  background: transparent !important;
  border-radius: 50% !important;
  box-shadow: -15px -18px #feb139 !important;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0)) !important;
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1)) !important;
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2)) !important;
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3)) !important;
}

.Dashboard {
  background: transparent !important;
  display: flex !important;
  position: relative !important;
  justify-content: center !important;
}

.Title {
  padding: 48px !important;
  position: relative !important;
  text-align: center;
  color: #dceef6 !important;
}

.upperLogo {
  height: 52px !important;
  width: 52px !important;
  margin-bottom: -10px;
}

.searchBox {
  position: relative !important;
  border-radius: 10%;
}

.BannerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* filter: hue-rotate(190deg); */
}

.CarouselStyle {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  height: 480px;
  /* color: #fff; */
  /* background: #bed5ff; */
  text-align: center !important;
  opacity: 0.7;
}

.ThreeCanvas {
  width: 50vw;
  height: 60vh;
  position: relative !important;
  border-radius: 1px;
}

#container {
  background-color: #293462;
  overflow: hidden;
  width: 98%;
  height: 90vh;
  align-items: center;
  flex: 1;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#inner {
  overflow: hidden;
  width: 100%;
  margin: 50px 2em;
}

.child {
  float: left;
  width: 50%;
}

.firstWord {
  position: relative !important;
  padding-left: -1em;
  padding-top: 0.5em;
  margin-left: -1.6em;
  font-family: Sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 61px;
  letter-spacing: -0.7px;
  word-spacing: 0px;
  color: aliceblue;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 100%;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

label {
  font-weight: 800;
}

.LabelColor {
  position: relative !important;
  padding-left: -1em;
  padding-top: 0.5em;
  margin-left: -5.1em;
  font-family: Sans-serif;
  word-spacing: 0px;
}

.description-title {
  color: #d4d8c5;
}

#save-button {
  background-color: #d61c4e;
  border: 0;
  border-radius: 10px;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  align-items: center;
  text-transform: capitalize;
}

#save-button:active {
  background-color: #293462;
}

.button-container {
  justify-content: right;
  display: flex;
}

.hamburger{

  display: flex;
  justify-content: right;
}


@media only screen and (max-width: 1024) {
  #inner {
    overflow: hidden;
    width: 100%;
    margin: 50px 2em;
  }
}
@media only screen and (max-width: 800px) {
  #container {
    display: flex;
    height: 100vh;
    margin-top: 10px;
  }

  .navigation ul li {
    display: none;
  }

  .indicator {
    display: none;
  }

  .bm-burger-button {
    display: flex;
  }

  .upperLogo {
    height: 40px !important;
    width: 40px !important;
    margin-bottom: -20px;
    margin-left: 10px;
  }

  #inner {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 1em;
  }

  .firstWord {
    position: relative !important;
    padding-left: -1em;
    padding-top: 0.5em;
    margin-left: 0em;
    font-family: Sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: -1px;
    word-spacing: 0px;
    color: aliceblue;
  }
  .LabelColor {
    position: relative !important;
    padding-left: -1em;
    padding-top: 0.5em;
    margin-left: 0em;
    font-family: Sans-serif;
    word-spacing: 0px;
  }
  .ThreeCanvas {
    width: 100%;
  }
  .button-container {
    position: sticky !important;
    justify-content: right;
    display: flex;
    margin-right: -160px;
  }

  @media only screen and (max-width: 640px) {
    #container {
      display: flex;
      margin-top: 10px;
    }

    .navigation ul li {
      display: none;
    }

    .indicator {
      display: none;
    }
    .bm-burger-button {
      display: flex;
      width: 26px;
      height: 20px;
    }
    .upperLogo {
      height: 32px !important;
      width: 32px !important;
      margin-bottom: -20px;
      margin-left: 10px;
    }

    #inner {
      display: flex;
      width: 100%;
      margin: 1em;
    }

    .firstWord {
      position: relative !important;
      padding-left: -1em;
      padding-top: 0.5em;
      margin-left: 0em;
      font-family: Sans-serif;
      font-size: 24px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 30px;
      letter-spacing: -1px;
      word-spacing: 0px;
      color: aliceblue;
    }
    .LabelColor {
      position: relative !important;
      padding-left: -1em;
      padding-top: 0.5em;
      margin-left: 0em;
      font-family: Sans-serif;
      word-spacing: 0px;
    }
    .ThreeCanvas {
      width: 100%;
      height: 60vh;
      position: absolute !important;
      border-radius: 1px;
    }
    .button-container {
      position: sticky !important;
      justify-content: right;
      display: flex;
      margin-right: -140px;
    }
  }
  @media only screen and (max-width: 480px) and (orientation: potrait) {
    #container {
      display: flex;
      margin-top: 50px;
    }
    .upperLogo {
      height: 32px !important;
      width: 32px !important;
      margin-bottom: -26px;
    }
    .button-container {
      position: sticky !important;
      justify-content: right;
      display: flex;
      margin-right: -160px;
    }
  }
  @media only screen and (max-height: 480px) {
    #container {
      display: flex;
      margin-top: 50px;
    }
    .upperLogo {
      height: 32px !important;
      width: 32px !important;
      margin-bottom: -26px;
    }
    .button-container {
      position: sticky !important;
      justify-content: right;
      display: flex;
      margin-right: -160px;
    }
    .firstWord {
      position: relative !important;
      padding-left: -1em;
      padding-top: 0.5em;
      margin-left: 0em;
      margin-top: 91px;
      font-family: Sans-serif;
      font-size: 36px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 32px;
      letter-spacing: -1px;
      word-spacing: 0px;
      color: aliceblue;
    }
  }

  @media only screen and (max-width: 320px) {
    #container {
      display: flex;
      margin-top: 50px;
    }
    .upperLogo {
      height: 32px !important;
      width: 32px !important;
      margin-bottom: -26px;
    }
    .button-container {
      position: sticky !important;
      justify-content: right;
      display: flex;
      margin-right: -100px;
    }
  }

  @media only screen and (max-height: 320px) {
    #container {
      display: flex;
      margin-top: 10px;
    }
    .upperLogo {
      height: 32px !important;
      width: 32px !important;
      margin-bottom: -26px;
    }
    .button-container {
      position: sticky !important;
      justify-content: right;
      display: flex;
      margin-right: -100px;
    }
    .firstWord {
      position: relative !important;
      padding-left: -1em;
      padding-top: 0.5em;
      margin-left: 0em;
      margin-top: 5px;
      font-family: Sans-serif;
      font-size: 36px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 32px;
      letter-spacing: -1px;
      word-spacing: 0px;
      color: aliceblue;
    }
  }

  @media only screen and (max-width: 200px) {
    #container {
      display: flex;
      margin-top: 50px;
    }
    .upperLogo {
      height: 32px !important;
      width: 32px !important;
      margin-bottom: -26px;
    }
    .button-container {
      position: sticky !important;
      justify-content: right;
      display: flex;
      margin-right: -30px;
    }
  }
}
